*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #8cc84c;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    height: 100vh;
}

.search_tag{
    background-color: azure;
    width: 400px;
    border-radius: 10px;
    padding: 20px;
}

.title{
    font-size: 25px;
    font-weight: 600;
}
.content{
    width: 100%;
    border: 1px solid #999;
    border-radius: 5px;
    margin: 20px 0;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.content input{
    outline: none;
    border: none;
    background: inherit;
    padding: 10px 10px;
    font-size: 20px;
    margin-top: 5px;
    flex: 1;
}

.content li{
    list-style: none;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #8cc84c;
    padding: 5px;
    font-size: 20px;
    margin: 5px;
    border-radius: 5px;
    color: white;
    /* min-width: 40px; */
}

.content li i{
    font-size: 16px;
    margin-left: 8px;
}

.remove_all{
    background-color: #8cc84c;
    border: none;
    outline: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.remove_all:hover{
    opacity: 0.8;
}